.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits-list__item {
  text-align: left;
  width: 100%;
}
.benefits-list__svg {
  display: flex;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--benefits-bg-color);
  margin-bottom: 30px;
}
.benefits-list__icon {
  fill: currentColor;
}
.benefits-list__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-list__txt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  
}

@media screen and (min-width: 768px) {
  .benefits-list {
    gap: 30px;
  }
  .benefits-list__item {
    text-align: left;
    flex-basis: calc((100% - 30px) / 2);
  }
  .benefits-list__title {
  text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .benefits-list__title {
  text-align: center;
  }
}
