.benefits-list {
  display: flex;
  flex-wrap: wrap;
}
.benefits-list__item {
  text-align: left;
  flex-basis: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.benefits-list__svg {
  display: flex;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--benefits-bg-color);
  margin-bottom: 30px;
}
.benefits-list__icon {
  fill: currentColor;
}
.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-list__txt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
