.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.mobile-menu {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: #fff;
}
.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 300px;
}
// .menu-nav-list__item:not(:last-child) {
//   margin-bottom: 32px;
// }
.menu-nav-list__link {
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--transition-rules);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.active {
  color: var(--accent-color);
}
.menu-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  //   margin-top: auto;
  margin-bottom: 64px;
}
.menu-contacts-list__tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.menu-contacts-list__mailto {
  text-decoration: none;
  //   display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-rules);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.menu-social-list {
  display: flex;
}
.menu-social-list__item {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.menu-social-list__link {
  display: block;
  text-decoration: none;
  color: var(--accent-color);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
