.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}
.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-rules);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-link__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-link__txt {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--portfolio-overlay-txt-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-rules);

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}
.portfolio-card {
  padding: 20px;
  border-left: 1px solid var(--portfolio-item-border);
  border-right: 1px solid var(--portfolio-item-border);
  border-bottom: 1px solid var(--portfolio-item-border);
}
.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-text-color);
}
.portfolio-card__txt {
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
