.logo {
  font-family: $fontLogo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo--theme-light {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--logo-black-color);
}
.logo__variable-part {
  color: var(--logo-blue-color);
}
.logo--theme-dark {
  color: var(--footer-text-color);
  margin-bottom: 20px;
}
