.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}
.label {
  margin-bottom: 10px;
}
.label__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 4px;
}
.input {
  position: relative;
  display: block;
}
.input__field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-rules);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: inherit;
  transition: fill var(--transition-rules);

  .input__field:focus + & {
    fill: var(--accent-color);
  }
}
.comment__txt {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  transition: border-color var(--transition-rules);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox-lable {
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.chekbox__block {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.classik-checkbox {
  appearance: none;
  position: absolute;
}

.modern-checkbox {
  margin-right: 7px;
  transition: fill var(--transition-rules);

  .classik-checkbox:focus + & {
    fill: var(--accent-color);
  }
}
.modern-checkbox__icon-uncheck {
  transition: visibility var(--transition-rules);

  .classik-checkbox:checked + .modern-checkbox & {
    display: none;
  }
}
.modern-checkbox__icon-check {
  display: none;

  .classik-checkbox:checked + .modern-checkbox & {
    display: block;
  }
}
.contract-rules {
  text-decoration: none;
}
.contract-rules__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);

  &:hover {
    text-decoration: none;
  }
}
